// Generated with Lushay Code

IO_LOC  "o_rst" 25;
IO_PORT "o_rst" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_cs" 36;
IO_PORT "o_cs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_dc" 39;
IO_PORT "o_dc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_clk" 27;
IO_PORT "o_clk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_data" 26;
IO_PORT "o_data" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "i_clk" 52;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "i_rx" 18;
IO_PORT "i_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
