// Generated with Lushay Code

IO_LOC  "o_rst" 25;
IO_PORT "o_rst" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_cs" 36;
IO_PORT "o_cs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_dc" 39;
IO_PORT "o_dc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_clk" 27;
IO_PORT "o_clk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "o_data" 26;
IO_PORT "o_data" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "i_clk" 52;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "o_flashCLK" 59;
IO_PORT "o_flashCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "i_flashMISO" 62;
IO_PORT "i_flashMISO" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "o_flashMOSI" 61;
IO_PORT "o_flashMOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "o_flashCS" 60;
IO_PORT "o_flashCS" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "i_btn1" 3;
IO_PORT "i_btn1" IO_TYPE=LVCMOS18;

IO_LOC  "i_btn2" 4;
IO_PORT "i_btn2" IO_TYPE=LVCMOS18;
